/* ===== Navbar ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  background: #4b6cb7;
  color: #fff;
  padding: 1rem 2rem;
  align-items: center;
}

.brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-right a,
.nav-right button {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.nav-right a:hover,
.nav-right button:hover {
  text-decoration: underline;
}
